@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

header {
    height: 6rem;
    display: flex;
    justify-content: center;
}

.sidebar {
    margin-top: 5.5rem;
}

.sidebar__item {
    height: 5rem;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.sidebar__item-active {
    height: 5rem;
    background-color: #22d762;
}

/*main page*/

.main-page {
    margin: 4rem;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.main-page__trends {
    margin-top: 2rem;
}

.trends__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trends__album {
    width: 24%;
}

/*search artists, tracks, albums*/

.search {
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.track-card {
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.cardMedia {
    display: flex;
    height: 18rem;
    width: 100%;
    background-color: lightgrey;
}

.search__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search__artist {
    width: 24%;
}

.artistCard {
    margin: 1.5rem 0.5rem 0 0.5rem;
    width: 17rem;
    font-family: "Lato", serif;
    text-decoration: none;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

/*component Artist*/

.artist {
    display: flex;
    flex-direction: column;
    margin: 1.75rem 0;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.artist__name {
    text-align: center;
}

.artist__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.artist__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 2rem 0;
}

.artist__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.tracks-list__title, .albums__title {
    margin: 1rem 0;
}

.artist__tracks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.artist__genres {
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: right;
}

.track-name {
    padding-left: 1rem;
}


.artist__music {
    display: flex;
    justify-content: space-between;
}

.artist__tracks-list {
    flex-basis: 40%;
}

.artist__albums {
    flex-basis: 55%;
}

.albums__list, .search__album-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.artist__album {
    width: 31%;
}

.album-card {
    margin: 1rem 1rem 0 0;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

.album-card__media {
    display: flex;
    height: 14rem;
    width: 100%;
    background-color: lightgrey;
}

.search__album {
    width: 24%
}

.about {
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

@-webkit-keyframes Appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes Appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes Appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
